<li class='nav-header'>Programmeer talen</li>
<%# Voeg hier een link toe naar een nieuwe pagina voor de sectie Programmeer talen%>
<li><%= link_to 'Python', 'python.html' %></li>
<li><%= link_to 'SQL', 'sql.html' %></li>
<li><%= link_to 'Haskell', 'haskell.html' %></li>

<li class='nav-header'>Hardware</li>
<%# Voeg hier een link toe naar een nieuwe pagina voor de sectie Hardware%>
<li><%= link_to 'Arduino', 'arduino.html' %></li>

<li class='nav-header'>Project management</li>
<%# Voeg hier een link toe naar een nieuwe pagina voor de sectie Project management%>
<li><%= link_to 'Trello', 'trello.html' %></li>
<li><%= link_to 'Github', 'github.html' %></li>

<li class='nav-header'>Version management</li>
<%# Voeg hier een link toe naar een nieuwe pagina voor de sectie Version management%>
<li><%= link_to 'Git', 'git.html' %></li>

<li class='nav-header'>Overig</li>
<%# Voeg hier een link toe naar een nieuwe pagina voor de sectie Overig%>
<li><%= link_to 'Virtualbox', 'virtualbox.html' %></li>
<li><%= link_to 'Lightside', 'lightside.html' %></li>
<li><%= link_to 'Java', 'java.html' %></li>