<li class='nav-header'>Programming languages</li>
<li><%= link_to 'Python', 'python.html' %></li>
<li><%= link_to 'SQL', 'sql.html' %></li>
<li><%= link_to 'Haskell', 'haskell.html' %></li>

<li class='nav-header'>Hardware</li>
<li><%= link_to 'Arduino', 'arduino.html' %></li>

<li class='nav-header'>Project management</li>
<li><%= link_to 'Trello', 'trello.html' %></li>
<li><%= link_to 'Github', 'github.html' %></li>

<li class='nav-header'>Version management</li>
<li><%= link_to 'Git', 'git.html' %></li>

<li class='nav-header'>Miscellaneous</li>
<li><%= link_to 'Modelio', 'modelio.html' %></li>
<li><%= link_to 'Virtualbox', 'virtualbox.html' %></li>
<li><%= link_to 'Lightside', 'lightside.html' %></li>
<li><%= link_to 'Java', 'java.html' %></li>